USE [FreshFoodDB]
GO
/****** Object:  Table [dbo].[AdminAuditLogs]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAuditLogs](
	[AdminAuditLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[ActorUserID] [int] NULL,
	[ActorEmail] [nvarchar](320) NULL,
	[ActorRole] [nvarchar](50) NULL,
	[Action] [nvarchar](80) NOT NULL,
	[EntityType] [nvarchar](80) NOT NULL,
	[EntityId] [nvarchar](80) NULL,
	[Summary] [nvarchar](500) NULL,
	[DataJson] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](80) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminAuditLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[BlogCommentID] [int] IDENTITY(1,1) NOT NULL,
	[BlogPostID] [int] NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserID] [int] NULL,
	[ParentCommentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[BlogPostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](220) NOT NULL,
	[Excerpt] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CoverImageUrl] [nvarchar](1000) NULL,
	[IsPublished] [bit] NOT NULL,
	[PublishedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ViewCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[ContactMessageID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[Subject] [nvarchar](300) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsUrgent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactMessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomePageSettings]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomePageSettings](
	[Id] [int] NOT NULL,
	[SettingsJson] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HomePageSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryHistory]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryHistory](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ChangeQuantity] [int] NOT NULL,
	[ChangeType] [nvarchar](50) NULL,
	[LogDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[ShippingMethodID] [int] NULL,
	[VoucherID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[OrderCode] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[PasswordResetTokenID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TokenHash] [nvarchar](128) NOT NULL,
	[Purpose] [nvarchar](64) NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UsedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PasswordResetTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageURL] [nvarchar](1000) NOT NULL,
	[IsMainImage] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryID] [int] NULL,
	[SupplierID] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Sku] [nvarchar](50) NULL,
	[ManufacturedDate] [datetime2](7) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[Origin] [nvarchar](500) NULL,
	[StorageInstructions] [nvarchar](2000) NULL,
	[Certifications] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequestImages]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequestImages](
	[ReturnRequestImageID] [int] IDENTITY(1,1) NOT NULL,
	[ReturnRequestID] [int] NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnRequestImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequests]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequests](
	[ReturnRequestID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Reason] [nvarchar](2000) NOT NULL,
	[AdminNote] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[VideoUrl] [nvarchar](1000) NULL,
	[RefundProofUrl] [nvarchar](1000) NULL,
	[RefundNote] [nvarchar](2000) NULL,
	[RequestType] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewImages]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewImages](
	[ReviewImageID] [int] IDENTITY(1,1) NOT NULL,
	[ReviewID] [int] NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
	[ModerationStatus] [nvarchar](20) NOT NULL,
	[ModeratedAt] [datetime2](7) NULL,
	[ModerationNote] [nvarchar](500) NULL,
	[AdminReply] [nvarchar](2000) NULL,
	[RepliedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[TrackingNumber] [nvarchar](100) NULL,
	[Carrier] [nvarchar](100) NULL,
	[ShippedDate] [datetime] NULL,
	[EstimatedDeliveryDate] [datetime] NULL,
	[ActualDeliveryDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingMethods]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethods](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](100) NOT NULL,
	[BaseCost] [decimal](18, 2) NULL,
	[EstimatedDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[SupplierCode] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[UserAddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Label] [nvarchar](60) NULL,
	[RecipientName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[AddressLine] [nvarchar](500) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[AvatarUrl] [nvarchar](1000) NULL,
	[IsLocked] [bit] NOT NULL,
	[IsGuestAccount] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NULL,
	[ExpiryDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUsages]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUsages](
	[VoucherUsageID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[UsedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 4/25/2026 7:47:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminAuditLogs] ON 

INSERT [dbo].[AdminAuditLogs] ([AdminAuditLogID], [ActorUserID], [ActorEmail], [ActorRole], [Action], [EntityType], [EntityId], [Summary], [DataJson], [IpAddress], [UserAgent], [CreatedAt]) VALUES (2, 1, N'freshfood@gmail.com', N'Admin', N'orders.update_status', N'Order', N'64', N'Order status: Processing -> Preparing', N'{"orderId":64,"from":"Processing","to":"Preparing"}', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 Edg/147.0.0.0', CAST(N'2026-04-16T09:15:20.4421589' AS DateTime2))
INSERT [dbo].[AdminAuditLogs] ([AdminAuditLogID], [ActorUserID], [ActorEmail], [ActorRole], [Action], [EntityType], [EntityId], [Summary], [DataJson], [IpAddress], [UserAgent], [CreatedAt]) VALUES (3, 1, N'freshfood@gmail.com', N'Admin', N'orders.update_status', N'Order', N'64', N'Order status: Preparing -> Shipping', N'{"orderId":64,"from":"Preparing","to":"Shipping"}', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 Edg/147.0.0.0', CAST(N'2026-04-16T09:15:23.9536341' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AdminAuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogComments] ON 

INSERT [dbo].[BlogComments] ([BlogCommentID], [BlogPostID], [Content], [CreatedAt], [UserID], [ParentCommentID]) VALUES (5, 5, N'Bài viết rất hữu ích. Nhà mình đã chuyển sang dùng rau hữu cơ của FreshFood được 3 tháng và thực sự thấy sự khác biệt về hương vị!', CAST(N'2026-04-10T03:37:35.6831391' AS DateTime2), 6, NULL)
INSERT [dbo].[BlogComments] ([BlogCommentID], [BlogPostID], [Content], [CreatedAt], [UserID], [ParentCommentID]) VALUES (6, 5, N'@hoang hehe', CAST(N'2026-04-10T03:41:39.0223236' AS DateTime2), 1, NULL)
INSERT [dbo].[BlogComments] ([BlogCommentID], [BlogPostID], [Content], [CreatedAt], [UserID], [ParentCommentID]) VALUES (7, 5, N'hehe', CAST(N'2026-04-10T03:47:14.0825909' AS DateTime2), 1, 5)
SET IDENTITY_INSERT [dbo].[BlogComments] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartID], [UserID], [CreatedAt], [UpdatedAt]) VALUES (1, 6, CAST(N'2026-04-10T14:11:36.113' AS DateTime), CAST(N'2026-04-22T13:46:28.960' AS DateTime))
INSERT [dbo].[Carts] ([CartID], [UserID], [CreatedAt], [UpdatedAt]) VALUES (2, 1, CAST(N'2026-04-10T14:23:49.327' AS DateTime), CAST(N'2026-04-24T09:20:18.070' AS DateTime))
INSERT [dbo].[Carts] ([CartID], [UserID], [CreatedAt], [UpdatedAt]) VALUES (3, 9, CAST(N'2026-04-13T08:47:33.607' AS DateTime), CAST(N'2026-04-13T09:05:20.987' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Rau Củ Quả', N'Các loại rau xanh, củ và trái cây tươi sạch')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Thịt Tươi', N'Thịt heo, bò, gà sạch đạt chuẩn ATVSTP')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Hải Sản', N'Tôm, cua, cá, mực tươi sống')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([ContactMessageID], [Name], [Email], [Subject], [Message], [CreatedAt], [Status], [IsUrgent]) VALUES (1, N'Test FreshFood', N'freshfood.test@mailinator.com', N'Test form', N'Đây là tin nhắn thử nghiệm form liên hệ.', CAST(N'2026-04-13T01:15:25.5092031' AS DateTime2), N'New', 0)
INSERT [dbo].[ContactMessages] ([ContactMessageID], [Name], [Email], [Subject], [Message], [CreatedAt], [Status], [IsUrgent]) VALUES (2, N'do', N'do7509243@gmail.com', N'Tài khoản tôi bị khóa', N'Xin chào đội ngũ hỗ trợ,
Tôi nhận thấy tài khoản của mình đã bị khóa nhưng chưa rõ lý do. Mong bạn kiểm tra và hỗ trợ mở lại tài khoản cho tôi trong thời gian sớm nhất.
Nếu cần thêm thông tin, vui lòng liên hệ lại với tôi qua email này.
Xin chân thành cảm ơn!', CAST(N'2026-04-15T03:47:52.1224539' AS DateTime2), N'Replied', 0)
INSERT [dbo].[ContactMessages] ([ContactMessageID], [Name], [Email], [Subject], [Message], [CreatedAt], [Status], [IsUrgent]) VALUES (3, N'trần văn an', N'an@gmail.com', N'bổ sung sản phẩm', N'sản phẩm bắp bò hoa', CAST(N'2026-04-22T01:41:35.7965000' AS DateTime2), N'Processing', 0)
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryHistory] ON 

INSERT [dbo].[InventoryHistory] ([LogID], [ProductID], [ChangeQuantity], [ChangeType], [LogDate], [Note]) VALUES (1, 1, 100, N'Import', CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'Nh?p hàng t? Lâm Ð?ng Farm')
INSERT [dbo].[InventoryHistory] ([LogID], [ProductID], [ChangeQuantity], [ChangeType], [LogDate], [Note]) VALUES (2, 4, 50, N'Import', CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'Nh?p th?t ba r?i CP')
INSERT [dbo].[InventoryHistory] ([LogID], [ProductID], [ChangeQuantity], [ChangeType], [LogDate], [Note]) VALUES (3, 1, -2, N'Sale', CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'Bán cho don hàng #1')
SET IDENTITY_INSERT [dbo].[InventoryHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 2, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 1, 4, 1, CAST(160000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 1, 7, 2, CAST(35000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [ShippingAddress], [ShippingMethodID], [VoucherID], [Status], [OrderCode]) VALUES (1, 2, CAST(N'2026-04-07T10:38:11.640' AS DateTime), CAST(255000.00 AS Decimal(18, 2)), N'Qu?n 1, TP.HCM', 2, NULL, N'Delivered', N'VH-000001')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [ShippingAddress], [ShippingMethodID], [VoucherID], [Status], [OrderCode]) VALUES (2, 3, CAST(N'2026-04-07T10:38:11.640' AS DateTime), CAST(450000.00 AS Decimal(18, 2)), N'Qu?n 7, TP.HCM', 1, NULL, N'Shipped', N'VH-000002')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [ShippingAddress], [ShippingMethodID], [VoucherID], [Status], [OrderCode]) VALUES (3, 4, CAST(N'2026-04-07T10:38:11.643' AS DateTime), CAST(180000.00 AS Decimal(18, 2)), N'Th? Ð?c, TP.HCM', 3, NULL, N'Completed', N'VH-000003')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([PasswordResetTokenID], [UserID], [TokenHash], [Purpose], [ExpiresAt], [CreatedAt], [UsedAt]) VALUES (1, 6, N'c1fca981ad04f0cd0c8b84178bc0301603029a3414ab1c6a7bb2a47b638c6c41', N'reset_password', CAST(N'2026-04-10T08:45:17.433' AS DateTime), CAST(N'2026-04-10T08:30:17.433' AS DateTime), CAST(N'2026-04-10T08:30:48.047' AS DateTime))
INSERT [dbo].[PasswordResetTokens] ([PasswordResetTokenID], [UserID], [TokenHash], [Purpose], [ExpiresAt], [CreatedAt], [UsedAt]) VALUES (2, 9, N'7f1f468c5a3af0dbc3f44d47da02692f8884dbea6affd183e20c8db482271be8', N'guest_activate', CAST(N'2026-04-15T01:45:49.810' AS DateTime), CAST(N'2026-04-13T01:45:49.810' AS DateTime), CAST(N'2026-04-13T01:47:22.000' AS DateTime))
INSERT [dbo].[PasswordResetTokens] ([PasswordResetTokenID], [UserID], [TokenHash], [Purpose], [ExpiresAt], [CreatedAt], [UsedAt]) VALUES (3, 11, N'bd139bfb8d23194692ee5c405d296ec7a7b726a97f1681831ba5fe65cb755c67', N'guest_activate', CAST(N'2026-04-24T10:11:18.960' AS DateTime), CAST(N'2026-04-22T10:11:18.960' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount], [Status]) VALUES (1, 1, CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'BankTransfer', CAST(255000.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount], [Status]) VALUES (2, 2, CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'COD', CAST(450000.00 AS Decimal(18, 2)), N'Pending')
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount], [Status]) VALUES (3, 3, CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'EWallet', CAST(180000.00 AS Decimal(18, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [IsMainImage]) VALUES (1, 1, N'https://nongnghiep.farmvina.com/wp-content/uploads/2020/04/Rau-mu%E1%BB%91ng-baby2-1-scaled.jpg', 1)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [IsMainImage]) VALUES (2, 1, N'https://media3.scdn.vn/img4/2023/02_14/RelRK1WmLbZ3P8NVhGNg.jpg', 0)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [IsMainImage]) VALUES (3, 2, N'https://storage.googleapis.com/sc_pcm_product/prod/2024/11/23/608556-image14.webp', 1)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRequestImages] ON 

INSERT [dbo].[ReturnRequestImages] ([ReturnRequestImageID], [ReturnRequestID], [ImageUrl]) VALUES (1, 1, N'/return-images/13/1/937cc8ea5023417281d5859ca3a56425.jpg')
INSERT [dbo].[ReturnRequestImages] ([ReturnRequestImageID], [ReturnRequestID], [ImageUrl]) VALUES (2, 1, N'/return-images/13/1/e3e4036be0814c08bd79615d64bf3d2a.jfif')
INSERT [dbo].[ReturnRequestImages] ([ReturnRequestImageID], [ReturnRequestID], [ImageUrl]) VALUES (3, 1, N'/return-images/13/1/7ecea85cd154453cb514f8e95727c216.jpg')
SET IDENTITY_INSERT [dbo].[ReturnRequestImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRequests] ON 

INSERT [dbo].[ReturnRequests] ([ReturnRequestID], [OrderID], [UserID], [Status], [Reason], [AdminNote], [CreatedAt], [ReviewedAt], [VideoUrl], [RefundProofUrl], [RefundNote], [RequestType]) VALUES (2, 12, 6, N'Approved', N'dsfdfsdfgffdghfjghjgh', NULL, CAST(N'2026-04-09T01:11:13.2591007' AS DateTime2), CAST(N'2026-04-09T01:11:25.9646357' AS DateTime2), N'/return-videos/12/2/video-f8def855e7b94a4988a1b652fc4b5284.mp4', N'/return-refund-proofs/12/2/20260409011447207.jfif', NULL, N'Return')
SET IDENTITY_INSERT [dbo].[ReturnRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewImages] ON 

INSERT [dbo].[ReviewImages] ([ReviewImageID], [ReviewID], [ImageUrl], [SortOrder]) VALUES (1, 5, N'/review-images/93cfd517e2334ac0b44b0b26d2f3af81.png', 0)
INSERT [dbo].[ReviewImages] ([ReviewImageID], [ReviewID], [ImageUrl], [SortOrder]) VALUES (2, 5, N'/review-images/67449a9fb654493781e28dec1427279c.png', 1)
INSERT [dbo].[ReviewImages] ([ReviewImageID], [ReviewID], [ImageUrl], [SortOrder]) VALUES (3, 5, N'/review-images/32df5864ea32427c85f742255474232f.png', 2)
SET IDENTITY_INSERT [dbo].[ReviewImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [ReviewDate], [ModerationStatus], [ModeratedAt], [ModerationNote], [AdminReply], [RepliedAt], [IsDeleted], [DeletedAt]) VALUES (1, 1, 2, 5, N'Chất lượng rau củ ở đây thực sự khác biệt. Tôi có thể cảm nhận được vị ngọt tự nhiên và độ tươi giòn trong từng bữa ăn.', CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'Approved', NULL, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [ReviewDate], [ModerationStatus], [ModeratedAt], [ModerationNote], [AdminReply], [RepliedAt], [IsDeleted], [DeletedAt]) VALUES (2, 4, 2, 4, N'Dịch vụ giao hàng rất nhanh và đóng gói thân thiện với môi trường. Rất đáng để ủng hộ lâu dài.', CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'Approved', NULL, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [ReviewDate], [ModerationStatus], [ModeratedAt], [ModerationNote], [AdminReply], [RepliedAt], [IsDeleted], [DeletedAt]) VALUES (3, 9, 3, 5, N'Cá h?i ngon tuy?t, dóng gói c?n th?n', CAST(N'2026-04-07T10:38:11.643' AS DateTime), N'Approved', NULL, NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentID], [OrderID], [TrackingNumber], [Carrier], [ShippedDate], [EstimatedDeliveryDate], [ActualDeliveryDate], [Status]) VALUES (1, 1, N'GHN123456', N'Giao Hàng Nhanh', CAST(N'2026-04-05T00:00:00.000' AS DateTime), NULL, NULL, N'Delivered')
INSERT [dbo].[Shipments] ([ShipmentID], [OrderID], [TrackingNumber], [Carrier], [ShippedDate], [EstimatedDeliveryDate], [ActualDeliveryDate], [Status]) VALUES (2, 2, N'J&T789012', N'J&T Express', CAST(N'2026-04-06T00:00:00.000' AS DateTime), NULL, NULL, N'InTransit')
INSERT [dbo].[Shipments] ([ShipmentID], [OrderID], [TrackingNumber], [Carrier], [ShippedDate], [EstimatedDeliveryDate], [ActualDeliveryDate], [Status]) VALUES (3, 15, NULL, NULL, NULL, CAST(N'2026-04-09T15:53:51.460' AS DateTime), CAST(N'2026-04-08T17:08:03.183' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingMethods] ON 

INSERT [dbo].[ShippingMethods] ([MethodID], [MethodName], [BaseCost], [EstimatedDays]) VALUES (1, N'Giao hàng tiêu chuẩn', CAST(20000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[ShippingMethods] ([MethodID], [MethodName], [BaseCost], [EstimatedDays]) VALUES (2, N'Giao hàng nhanh', CAST(40000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ShippingMethods] ([MethodID], [MethodName], [BaseCost], [EstimatedDays]) VALUES (3, N'Hỏa tốc 2h', CAST(60000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[ShippingMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [Phone], [Email], [Address], [SupplierCode], [ImageUrl], [Status], [IsVerified], [CreatedAt]) VALUES (1, N'Lâm Đồng Farm', N'Anh Lâm', N'0901234567', N'contact@lamdongfarm.com', N'Đà Lạt, Lâm Đồng', N'VH-2026-001', N'/supplier-assets/f70b477302a24fe095e73adf95e6a2c2.jpg', N'Active', 1, CAST(N'2026-04-08T04:43:18.727' AS DateTime))
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [Phone], [Email], [Address], [SupplierCode], [ImageUrl], [Status], [IsVerified], [CreatedAt]) VALUES (2, N'CP Food', N'Ch? Phuong', N'0912345678', N'sales@cpfood.vn', N'Ðồng Nai', N'VH-2026-002', N'/supplier-assets/941f3bff435a41d39352efa4307e8590.jpg', N'Active', 1, CAST(N'2026-04-08T04:43:18.727' AS DateTime))
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [Phone], [Email], [Address], [SupplierCode], [ImageUrl], [Status], [IsVerified], [CreatedAt]) VALUES (3, N'Hải Sản Nha Trang', N'Anh Hung', N'0987654321', N'hungseafood@gmail.com', N'Nha Trang, Khánh Hòa', N'VH-2026-003', N'/supplier-assets/5e65d14207284fff8b08b08429524b21.jpg', N'Active', 1, CAST(N'2026-04-08T04:43:18.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

INSERT [dbo].[UserAddresses] ([UserAddressID], [UserID], [Label], [RecipientName], [Phone], [AddressLine], [IsDefault], [CreatedAt]) VALUES (1, 1, N'Nhà', N'Admin FreshFood', N'0123456789', N'Hà Nội', 1, CAST(N'2026-04-13T02:07:08.2916132' AS DateTime2))
INSERT [dbo].[UserAddresses] ([UserAddressID], [UserID], [Label], [RecipientName], [Phone], [AddressLine], [IsDefault], [CreatedAt]) VALUES (2, 1, N'Cty', N'Admin FreshFood', N'0123456789', N'Hà Nội 2', 0, CAST(N'2026-04-13T02:07:27.7197648' AS DateTime2))
INSERT [dbo].[UserAddresses] ([UserAddressID], [UserID], [Label], [RecipientName], [Phone], [AddressLine], [IsDefault], [CreatedAt]) VALUES (3, 6, NULL, N'Đỗ Việt Hoàng', N'1234567890', N'Cầu Diễn, Hà Nội', 1, CAST(N'2026-04-15T09:34:59.9000743' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Phone], [Address], [Role], [CreatedAt], [AvatarUrl], [IsLocked], [IsGuestAccount]) VALUES (1, N'Admin FreshFood', N'freshfood@gmail.com', N'pbkdf2$210000$1sB0f1YMB3JHUHMY64G2WA==$xrwTH4kIanvG8SzUtYQD/ck+rVV8Ezgw4OO0Yhjjixg=', N'0123456789', N'Hà Nội', N'Admin', CAST(N'2026-04-07T10:38:11.640' AS DateTime), N'https://saigonpavillon.com.vn/wp-content/uploads/2022/10/avatar-cute-nam-11.jpg', 0, 0)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Phone], [Address], [Role], [CreatedAt], [AvatarUrl], [IsLocked], [IsGuestAccount]) VALUES (2, N'Nguyễn Văn A', N'customer1@gmail.com', N'c775e7b757ede630cd0aa1113bd102661ab38829ca52a6422ab782862f268646', N'0900000001', N'Qu?n 1, TP.HCM', N'Customer', CAST(N'2026-04-07T10:38:11.640' AS DateTime), N'https://saigonpavillon.com.vn/wp-content/uploads/2022/10/avatar-cute-nam-11.jpg', 0, 0)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Phone], [Address], [Role], [CreatedAt], [AvatarUrl], [IsLocked], [IsGuestAccount]) VALUES (3, N'Trần Thị B', N'customer2@gmail.com', N'c775e7b757ede630cd0aa1113bd102661ab38829ca52a6422ab782862f268646', N'0900000002', N'Qu?n 7, TP.HCM', N'Customer', CAST(N'2026-04-07T10:38:11.640' AS DateTime), N'https://saigonpavillon.com.vn/wp-content/uploads/2022/10/avatar-cute-nam-11.jpg', 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderAmount], [ExpiryDate], [IsActive]) VALUES (1, N'HELLO_FRESH', N'Flat', CAST(30000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Vouchers] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderAmount], [ExpiryDate], [IsActive]) VALUES (2, N'FREESHIP_MAX', N'Flat', CAST(20000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Vouchers] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderAmount], [ExpiryDate], [IsActive]) VALUES (3, N'GIAM_10PHANTRAM', N'Percentage', CAST(10.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-06-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[VoucherUsages] ON 

INSERT [dbo].[VoucherUsages] ([VoucherUsageID], [VoucherID], [UserID], [OrderID], [UsedAt]) VALUES (1, 1, 6, 13, CAST(N'2026-04-08T03:00:23.077' AS DateTime))
INSERT [dbo].[VoucherUsages] ([VoucherUsageID], [VoucherID], [UserID], [OrderID], [UsedAt]) VALUES (2, 1, 1, 18, CAST(N'2026-04-10T06:33:25.567' AS DateTime))
INSERT [dbo].[VoucherUsages] ([VoucherUsageID], [VoucherID], [UserID], [OrderID], [UsedAt]) VALUES (3, 3, 6, 40, CAST(N'2026-04-13T10:29:05.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[VoucherUsages] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([WishlistID], [UserID], [ProductID], [AddedDate]) VALUES (1, 2, 9, CAST(N'2026-04-07T10:38:11.643' AS DateTime))
INSERT [dbo].[Wishlists] ([WishlistID], [UserID], [ProductID], [AddedDate]) VALUES (2, 2, 12, CAST(N'2026-04-07T10:38:11.643' AS DateTime))
INSERT [dbo].[Wishlists] ([WishlistID], [UserID], [ProductID], [AddedDate]) VALUES (3, 3, 1, CAST(N'2026-04-07T10:38:11.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
/****** Object:  Index [UQ__Carts__1788CCAD77C7C55B]    Script Date: 4/25/2026 7:47:11 AM ******/
ALTER TABLE [dbo].[Carts] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105340C67EE6F]    Script Date: 4/25/2026 7:47:11 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__A25C5AA7904A1B57]    Script Date: 4/25/2026 7:47:11 AM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminAuditLogs] ADD  CONSTRAINT [DF_AdminAuditLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BlogComments] ADD  CONSTRAINT [DF_BlogComments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  CONSTRAINT [DF_BlogPosts_IsPublished]  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  CONSTRAINT [DF_BlogPosts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  CONSTRAINT [DF_BlogPosts_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  CONSTRAINT [DF_ContactMessages_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  CONSTRAINT [DF_ContactMessages_Status]  DEFAULT (N'New') FOR [Status]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  CONSTRAINT [DF_ContactMessages_IsUrgent]  DEFAULT ((0)) FOR [IsUrgent]
GO
ALTER TABLE [dbo].[HomePageSettings] ADD  CONSTRAINT [DF_HomePageSettings_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InventoryHistory] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsMainImage]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_FF_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  CONSTRAINT [DF_ReturnRequests_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  CONSTRAINT [DF_ReturnRequests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  CONSTRAINT [DF_ReturnRequests_RequestType]  DEFAULT ('Return') FOR [RequestType]
GO
ALTER TABLE [dbo].[ReviewImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_ModerationStatus]  DEFAULT ('Approved') FOR [ModerationStatus]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ShippingMethods] ADD  DEFAULT ((0)) FOR [BaseCost]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_FF_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_FF_Verified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_FF_Created]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  CONSTRAINT [DF_UserAddresses_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  CONSTRAINT [DF_UserAddresses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsGuestAccount]  DEFAULT ((0)) FOR [IsGuestAccount]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VoucherUsages] ADD  DEFAULT (getutcdate()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[Wishlists] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_BlogComments_BlogPost] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPosts] ([BlogPostID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_BlogComments_BlogPost]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_BlogComments_ParentComment] FOREIGN KEY([ParentCommentID])
REFERENCES [dbo].[BlogComments] ([BlogCommentID])
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_BlogComments_ParentComment]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItem_Product]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[InventoryHistory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[InventoryHistory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Detail_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Detail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_ShippingMethod] FOREIGN KEY([ShippingMethodID])
REFERENCES [dbo].[ShippingMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_ShippingMethod]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Vouchers] ([VoucherID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_Image_Product]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[ReturnRequestImages]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequestImages_ReturnRequest] FOREIGN KEY([ReturnRequestID])
REFERENCES [dbo].[ReturnRequests] ([ReturnRequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequestImages] CHECK CONSTRAINT [FK_ReturnRequestImages_ReturnRequest]
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequests_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ReturnRequests] CHECK CONSTRAINT [FK_ReturnRequests_Order]
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequests_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReturnRequests] CHECK CONSTRAINT [FK_ReturnRequests_User]
GO
ALTER TABLE [dbo].[ReviewImages]  WITH CHECK ADD  CONSTRAINT [FK_ReviewImage_Review] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[Reviews] ([ReviewID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewImages] CHECK CONSTRAINT [FK_ReviewImage_Review]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipment_Order]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_UserAddresses_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_UserAddresses_User]
GO
ALTER TABLE [dbo].[VoucherUsages]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUsage_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[VoucherUsages] CHECK CONSTRAINT [FK_VoucherUsage_Order]
GO
ALTER TABLE [dbo].[VoucherUsages]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUsage_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[VoucherUsages] CHECK CONSTRAINT [FK_VoucherUsage_User]
GO
ALTER TABLE [dbo].[VoucherUsages]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUsage_Voucher] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Vouchers] ([VoucherID])
GO
ALTER TABLE [dbo].[VoucherUsages] CHECK CONSTRAINT [FK_VoucherUsage_Voucher]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlist_User]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
